html, body{
    margin: 0;
    font-size: 20px;
    font-family: Times New Roman;
    color: rgb(0, 48, 73);
    background-color: rgb(234, 226, 183);
    text-align: center;
}

header{
    background-color: rgb(252, 191, 73);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ToolBar{
    background-color: rgb(252, 191, 73);
    box-shadow: 0px 0px 50px rgb(252, 191, 73);
    width: 100%;

    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ToolBar > input{
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

header > h1{
    font-size: 46px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 15px;
}

header > h1 > span{
    font-weight: bolder;
    color: #f7f7f7;
}

header > h1:hover{
    cursor: pointer;
}

.Contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 35px;
    margin-bottom: 15px;
}

.Form-Input-Div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form > p{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Form > p > span{
    color: crimson;
}

.Labels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    margin-right: 5px;
}

.Labels > label{
    margin-top: 5px;
}

.Inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-left: 1px;
}

.Inputs > input{
    margin-top: 2px;
}

.Inputs > select{
    margin-top: 2px;
}

input{
    border-radius: 15px;
    border-color: transparent;
    color: rgb(0, 48, 73);
    background-color: rgb(247, 127, 0);
    box-shadow: 0px 0px 10px rgb(247, 127, 0);
    font-size: 18px;
    cursor: pointer;
}

input[type="text"]{
    background-color: rgba(255, 255, 255, 0.646);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.646);
    cursor: text;
}

input::placeholder{
    color: rgb(99, 99, 99);
}

input[type="button"]:hover{
    background-color: rgba(247, 128, 0, 0.674);
    box-shadow: 0px 0px 10px rgba(247, 128, 0, 0.674);
}

input[type="submit"]:hover{
    background-color: rgba(247, 128, 0, 0.674);
    box-shadow: 0px 0px 10px rgba(247, 128, 0, 0.674);
}

textarea{
    border-radius: 15px;
    border-color: transparent;
    color: rgb(0, 48, 73);
    background-color: rgba(255, 255, 255, 0.646);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.646);
    font-size: 18px;
    cursor: text;
}

.Extra{
    color: rgb(174, 53, 77);
}

.Submit{
    margin-top: 10px;
}

.ItemDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}